<div class="basic-info">
    <div class="name-and-id-container">
        <span class="pokemon-id">#{{response?.id}}</span>
        <img class="pokemon-icon" src="{{response?.icon}}">
        <h2>{{response?.name | titlecase}}</h2>
    </div>
    <div class="pokemon-types">
        <ng-container *ngFor="let pokemon_type of response?.types">
            <span>{{pokemon_type.type.name | uppercase}}</span>
        </ng-container>
    </div>
</div>
<img class="pokemon-sprite" src="{{response?.sprite}}">